extends layout

block content
  img(src='images/Travelr_Logo.png')#logo
  h1= title
  p Welcome to #{title} - #{subtitle}
  br
  form(action='/modify', method='POST')
    input.hidden(name='fromIndex')
    input.action(type='submit', value='Start')
