doctype html
html
  head
    title= title
    <!-- development version, includes helpful console warnings -->
    //script(src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://js.api.here.com/v3/3.1/mapsjs-core.js", type="text/javascript", charset="utf-8")
    script(src="https://js.api.here.com/v3/3.1/mapsjs-service.js", type="text/javascript", charset="utf-8")
    script(src="https://js.api.here.com/v3/3.1/mapsjs-ui.js", type="text/javascript", charset="utf-8")
    script(src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js", type="text/javascript", charset="utf-8")
    link(rel="stylesheet", type="text/css", href="https://js.api.here.com/v3/3.1/mapsjs-ui.css")
    script(src="javascripts/map.js")
    script(src="javascripts/processData.js")
  body
    block content
