body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.action {
  display: inline-block;
  padding: 15px 10px 15px 10px;
  font-size: 20px;
  width: 250px;
  color: white;
  background-color: darkorange;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  /*transition-duration: 0.4s;*/
  cursor: pointer;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow: 0 9px #8f8f8f;
}

/*.action:hover {*/
/*  background-color: orange; !* Green *!*/
/*}*/

.action:active {
  background-color: #f47104;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#logo {
  height: auto;
  width: 200px;
}
