body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none !important;
}

.action {
  display: inline-block;
  padding: 15px 10px 15px 10px;
  font-size: 20px;
  width: 250px;
  color: white;
  background-color: darkorange;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  /*transition-duration: 0.4s;*/
  cursor: pointer;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow: 0 9px #8f8f8f;
}

.action:active {
  background-color: #f47104;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.small-action {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  background-color: indianred;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow: 0 5px #8f8f8f;
}

.small-action:active {
  background-color: #ae4a4a;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

#logo {
  height: auto;
  width: 200px;
}

.logo-small {
  height: auto;
  width: 50px;
}

.title-div * {
  display: inline;
  vertical-align: middle;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#grid-container {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-gap: 10px;
  column-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto auto;
  grid-template-areas:
    'variables variables variables'
    'form list list'
    'form list list'
    'form list list';
}

#variable-div {
  grid-area: variables;
}

#form-div {
  grid-area: form;
}

#list-div {
  grid-area: list;
  height: 82%;
}

#variable-form {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#variable-form > div > input {
  width: 100px;
}

#insert-form {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

#insert-form > label {
  text-align: left;
}

#preferences {
  height: 200px;
  resize: none;
}

.scroll-div {
  height: inherit;
  overflow-y: scroll;
  border: #888888 solid 1px;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 5px;
}

.scroll-div > div > p {
  text-align: left;
  margin-top: 0;
}

#participant-list > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#result-grid {
  /*max-width: 1000px;*/
  /*margin: auto;*/
  display: grid;
  grid-gap: 10px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px 60px auto; /* auto; */
  grid-template-areas:
          'tour tour tour tour tour tour tour'
          'data data map map map map map'
          'participants participants map map map map map';
          /*'debug debug debug debug debug debug debug';*/
  grid-area: result;
}

#data-div {
  grid-area: data;
  margin: auto;
}

#data-div > h3 {
  margin: 0;
}

#data {
  display: flex;
  column-gap: 10px;
}

#route-div {
  grid-area: tour;
}

#route-div > h2 {
  color: orange;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: 53px;
}

#route-text-div > p {
  font-weight:bold;
  color:white;
  font-size: 18px;
  margin-top: 0;
  padding-top: 5px;
}

#route-text-div {
  background-color:orange;
  height: 30px;
}

#result-div {
  grid-area: participants;
  height: 89.8%;
}

#result-participant-div {
  text-align: left;
}

#result-participant-div > p {
  margin-top: 0;
}

#map-div {
  grid-area: map;
/*  placeholder */
  height: 450px;
  border: slategray solid 1px;
}

#result-debug-grid {
  max-width: 80%;
  margin: auto;
  display: grid;
  /*grid-gap: 10px;*/
  column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
          'title title title title debug'
          'result result result result debug';
}

#debug-log {
  grid-area: debug;
  border: slategray solid 1px;
  min-width: 300px;
  max-width: 500px;
  display: none;
  height: 41em;
  margin-bottom: 0;
}

pre {
  /*outline: 1px solid #ccc;*/
  /*padding: 5px;*/
  margin: -5px;
  text-align: left;
  font-size: smaller; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#title-compute {
  grid-area: title;
}

#debug-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

#back-btn {
  margin-left: 7px;
}

#loading-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(175, 175, 175, 0.24);
}

#loading-screen > div {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 51;
  font-style: italic;
}
